@model Lucid.Web.Portal.Models.ComposeEmailViewModel

@{
    ViewBag.Title = "Compose";
}

<h2>Compose</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Message</legend>
        

<div class="editor-label">
    @Html.LabelFor(model => model.Message.From)
</div>
<div>
    @Html.TextBoxFor(model => model.Message.From, new { disabled = "disabled", @readonly = "readonly" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Message.To)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Message.To)
    @Html.ValidationMessageFor(model => model.Message.To)
</div>
    
<div class="editor-label">
    @Html.LabelFor(model => model.Message.Content)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Message.Content)
    @Html.ValidationMessageFor(model => model.Message.Content)
</div>

<div>
 @Html.ListBoxFor(
    model => model.Selected,
    new MultiSelectList(Model.Videos, "Id", "Title", Model.Selected)
)
</div>




        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


