@model Lucid.Web.Portal.Models.Message

@{
    ViewBag.Title = "Compose";
}


<h2>Compose</h2>
<div style="margin-left:-450px; margin-top:-40px">

   <section class="loginform cf">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
        

          
    @Html.HiddenFor(model => model.From)

    @Html.LabelFor(model => model.To)

    @Html.EditorFor(model => model.To)
    
    @Html.ValidationMessageFor(model => model.To)
    <br />
    @Html.LabelFor(model => model.Content)

    @Html.TextAreaFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)







    <br />


    
            <input type="submit" value="Send" />
       
  
}
</section>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


