@model Lucid.Web.Portal.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Message</legend>

    <div class="display-label">From</div>
    <div class="display-field">@Model.From</div>

    <div class="display-label">To</div>
    <div class="display-field">@Model.To</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    

    <div class="display-label">Recieved</div>
    <div class="display-field">@String.Format("{0:g}", Model.Created)</div>


</fieldset>
<p>
    @Html.ActionLink("Back to Inbox", "Index")
</p>


