@model IEnumerable<Lucid.Web.Portal.Models.Message>

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<p>
    @Html.ActionLink("Compose", "Create")
</p>
<table>
    <tr>
        <th>
            From
        </th>
        <th>
            Content
        </th>
        <th>
            Date
        </th>
        <th></th>
         
    </tr>

@foreach (var item in Model) {
    <tr>
 
     
        <td>
			@item.From
        </td>
           <td>
			@item.Content
        </td>
         <td>
			@String.Format("{0:g}", item.Created)
        </td>
              <td>
            @Html.ActionLink("Reply", "Reply", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}




</table>


