@model IEnumerable<Lucid.Web.Portal.Models.Message>

@{
    ViewBag.Title = "Index";
}

@*@section scripts { 
<script>
    var apiUrl = 'api/emails';

    $(document).ready(function () {
        // Send an AJAX request 
        $.getJSON(apiUrl)
            .done(function (data) {
                // On success, 'data' contains a list of products. 
                $.each(data, function (key, item) {
                    alert(formatItem(item));
                    // Add a list item for the product. 
                    //$('<li>', { text: formatItem(item) }).appendTo($('#emails'));
                });
            });
    });

    function formatItem(item) {
        return item.Content;
    }

//    function find() {
//        var id = $('#prodId').val();
//        $.getJSON(apiUrl + '/' + id)
//            .done(function (data) {
//                $('#product').text(formatItem(data));
//            })
//            .fail(function (jqXHR, textStatus, err) {
//                $('#product').text('Error: ' + err);
//            });
//    } 
</script> 
}*@


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Content
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Created
        </th>
        <th>
            IsRead
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Content
        </td>
        <td>
			@item.From
        </td>
        <td>
			@item.To
        </td>
        <td>
			@String.Format("{0:g}", item.Created)
        </td>
        <td>
			@item.IsRead
        </td>
    </tr>
}




</table>


