
@model Lucid.Web.Portal.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}

<div style="margin-left:-400px; margin-top:-70px">




@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <section class="loginform cf">
	
    Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.

        
        <form name="login" action="index_submit" method="get" accept-charset="utf-8">
		


				
                     @Html.LabelFor(m => m.UserName)
					
                       @Html.TextBoxFor(m => m.UserName)    
				
				
					
                     @Html.LabelFor(m => m.Password)
                      @Html.PasswordFor(m => m.Password)  
					
                        @Html.LabelFor(m => m.RememberMe)             @Html.CheckBoxFor(m => m.RememberMe)

					<input type="submit" value="Login">
		<br />

        @Html.ActionLink("Forgot", "Reset") your user name and password?
		</form>
	</section>

    
    
   
}


</div>
