@model Lucid.Web.Portal.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <ul  style="list-style-type:none;">
     

        <li >
            @Html.LabelFor(m => m.UserName)
       
        </li>

        <li >
            @Html.TextBoxFor(m => m.UserName)            
        </li>

        <li >
            @Html.LabelFor(m => m.Email)
                    
        </li>


        <li>
             @Html.TextBoxFor(m => m.Email)   
        </li>
        
        <li >
            @Html.LabelFor(m => m.AccessCode)
          
        </li>

            <li >
   
            @Html.TextBoxFor(m => m.Email)            
        </li>

        <li >
            @Html.LabelFor(m => m.Password)
            
        </li>

        <li >
     
            @Html.PasswordFor(m => m.Password)            
        </li>


        <li >
            @Html.LabelFor(m => m.ConfirmPassword)
                
        </li>

                <li >
  
            @Html.PasswordFor(m => m.ConfirmPassword)            
        </li>


        <li >
            <input type="submit" value="Register" />
        </li>
    </ul>
}
